body {
	background: black;
	color: whitesmoke;
}
svg {
	margin: 0 auto;
	display: block;
	background: whitesmoke;
	margin-bottom: 10px;
}

.time-frame-buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 59.4vw;
	margin: 10px auto;
}

.time-frame-buttons button{
	width: 10%;
}

#stock-list {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0 10%;
}

.stock-item {
	width: 200px;
}

.stock-box {
	text-align: center;
	display: block;
}
.tooltip {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	background: black;
	color: white;
	border-radius: 10px;
	padding: 0 10px;
	text-align: center;
	border: black solid 3px;
}

#tip-content {
	margin: auto;
}

.tick line {
	stroke: black;
	stroke-dasharray: 10, 5;
}